@import '../../colors.scss';
@import '../../palette.scss';
@import '../../typography.scss';
@import '../../../stylscss.scss';

//Input Colors
$inputBackground: $backgroundSecondary;
$inputBorderColor: $mainMutedHover;
$inputHover: $mainMutedBackground;
$inputFocusBorderColor: $mainHover;
$inputDisabledColor: $D55;
$inputDisabledBorderColor: $D60;
$inputDisabledHoverBorderColor: $GR20;

//Input sizes
$inputHeightMap: (large: 60px, medium: 36px, small: 30px);
$inputFontMap: (large: 22px, medium: 16px, small: 14px);

@mixin inputSize($size) {
  height: map-get($inputHeightMap, $size);
  line-height: map-get($inputHeightMap, $size) - 2px;
  font-size: map-get($inputFontMap, $size);
}

.root {
  composes: root from "../../Core/Input/Input.scss";
  display: flex;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  color: $primaryText;
  width: 100%;
  border-radius: 6px;
  border: 1px solid $inputBorderColor;
  background-color: $inputBackground;
  padding: 0 6px;
}

.root:hover {
  background-color: $inputHover;
}

.root#{cssState('disabled')} {
  color: $inputDisabledColor;
  border-color: $inputDisabledBorderColor;
}

.root#{cssState('disabled')}:hover {
  background-color: $inputBackground;
  border-color: $inputDisabledHoverBorderColor;
}

.nativeInput {
  composes: nativeInput from "../../Core/Input/Input.scss";
  background-color: transparent;
  outline: none;
  width: 100%;
  font-family: $fontRoman;
  border: none;
  padding: 0 6px;
}

.root#{cssCustomState('size', 'large')} {
  .nativeInput {
    @include inputSize('large')
  }
}

.root#{cssCustomState('size', 'medium')} {
  .nativeInput {
    @include inputSize('medium')
  }
}

.root#{cssCustomState('size', 'small')} {
  .nativeInput {
    @include inputSize('small')
  }
}
