@import './colors';

$backgroundPrimary: $D70;
$backgroundSecondary: $WHITE;
$brandPrimary: $B10;
$brandSecondary: $D10;
$disabled: $D50;
$focus: $B00;
$main: $B10;
$success: $G10;
$warning: $Y10;
$danger: $R10;
$premium: $P10;
$urgent: $O10;
$standard: $B20;
$general: $D20;
$neutral: $D40;
$mainHover: $B20;
$successHover: $G20;
$warningHover: $Y20;
$dangerHover: $R20;
$premiumHover: $P20;
$mainMuted: $B40;
$mainMutedBackground: $B50;
$successMuted: $G40;
$warningMuted: $Y40;
$dangerMuted: $R40;
$premiumMuted: $P40;
$mainMutedHover: $B30;
$successMutedHover: $G30;
$warningMutedHover: $Y30;
$dangerMutedHover: $R30;
$premiumMutedHover: $P30;
$disabledField: $GR20;
$disabledCheck: $D50;

/* layout */
$cardBackground: $backgroundSecondary;
$dividerColor: $D60;

/* shadow-box */
$focusShadow: $F00;